#navbar-left-vertical {
  padding: 0;
}

#process {
  margin-top: 2vh;
}


.form-control:focus, select {
  border-color: rgb(206, 212, 218) !important;
  box-shadow: none !important;
}

select {
    border-left-color: rgb(33, 37, 41) !important;
}

.sm {
    border-color: rgb(206, 212, 218) !important;
}

.spinner {
  opacity: 0;
  width: 20px;
  height: 20px;
  background-color: rgb(100, 100, 100);
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

.btn:focus {
  box-shadow: none !important;
}

.alert-dark {
    background-color: rgb(235, 235, 235) !important; 
    border-width: 0.3px !important;
    border-radius: 3px !important;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
